html, body {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    font-family: 'Gill Sans MT';
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 50px;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.0);
}

    header img {
        width: 24px;
        height: auto;
    }

    a, header a:visited {
        text-decoration: none;
        color: white;
    }



li {
    list-style: none;
}

.logo {
    padding-left: 50px;
    float: left;
    font-size: 30px;
}

    .logo img {
        width: 50px;
    }

    .logo a {
        text-decoration: none;
    }

    .logo span {
        position: relative;
        top: -15px;
    }

.menubar {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 100px;
}

    .menubar li {
        padding: 15px 20px 10px 20px;
        transition: color 0.3s ease;
    }

    .menubar a {
        transition: color 0.3s ease;
    }

        .menubar a:hover {
            color: #ff0000;
        }

.dropdown {
    position: absolute;
    right: 40px;
    top: 15px;
    border-radius: 8px 0px 8px 0px;
    -moz-border-radius: 8px 0px 8px 0px;
    -webkit-border-radius: 8px 0px 8px 0px;
    border: 0px solid #000000;
    color: Black;
    font-family: 'Gill Sans MT';
}

/* Video & Registration */
.contentVideo {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    z-index: -500;
    opacity: 0.5;
}

.fullscreen-bg {
    min-width: 100%;
    height: 100vh;
    background-color: rgba(223, 80, 44, 1);
    overflow: hidden;
    position: absolute;
    -webkit-box-shadow: inset 0px 0px 143px 101px rgba(255,81,1,1);
    -moz-box-shadow: inset 0px 0px 143px 101px rgba(255,81,1,1);
    box-shadow: inset 0px 0px 143px 101px rgba(255,81,1,1);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    z-index: 50;
    height: auto;
    text-align: center;
}

.register {
    width: 300px;
    min-height: 300px;
    z-index: -200;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 10px 20px 10px;
    position: absolute;
    top: 0;
}

.info {
    width: auto;
    max-width: 300px;
    min-width: 200px;
    display: inline-table;
    text-align: center;
    color: #ff6a00;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}

.register span {
    color: white;
    font-size: 12px;
}

/* Login */
.loginPanel {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 200px;
    margin-top: 50px;
    z-index: 150;
    opacity: 1;
    color: orange;
    display: none;
}

    .loginPanel h3 {
        text-align: center;
    }

    .loginPanel table {
        padding: 20px 10px 20px 10px;
    }

/* Content */
.content {
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    clear: both;
    padding-top: 50px;
}

    .content p {
        margin: 0 auto;
    }

    .content h1 {
        text-align: center;
        padding: 20px;
    }

section {
    width: 200px;
    margin: 0 auto;
    display: inline-table;
    text-align: center;
}

    section h2 {
        font-weight: 400;
        font-size: 30px;
    }

    section h3 {
        font-weight: 300;
        font-size: 20px;
    }

    section span {
        font-style: italic;
    }

    section img {
        border-radius: 100%;
    }

.wrapper {
    min-height: 100%;
    position: relative;
}

/* Footer */
footer {
    height: 200px;
    color: #ff6a00;
    background-color: black;
    max-height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

    footer a, footer div div {
        color: #ffffff;
    }

    footer div {
        width: 200px;
        min-width: 200px;
    }

    footer a:hover {
        color: orange;
    }

/* Components */
.validator {
    color: orange;
    font-size: 15px;
    text-align: left;
    list-style-type: decimal;
}

    .validator li {
        list-style: square;
    }

.warning {
    color: orange;
}

.video {
    text-align: center;
}

.offer {
    text-align: center;
    padding-bottom: 50px;
}

.column {
    width: 220px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0 10px 0 10px;
    display: inline-table;
    overflow: hidden;
    max-width: 220px;
}

    .column div {
        word-break: break-all;
    }

.offer .column {
    background-color: #fcf9f9;
}

    .offer .column div {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #ff6a00;
        font-size: 35px;
        text-align: center;
        line-height: 150px;
        margin: 0 auto;
    }

        .offer .column div span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }


.footerContent {
    text-align: left;
    display: inline-table;
    max-width: 30%;
    min-width: 300px;
    ;
    list-style: none;
    margin: 0 auto;
    clear: both;
}

.bottom {
    padding-bottom: 250px;
}

.footerContent ul {
    list-style: none;
}

.footerContent img {
    width: 50px;
}

.inputPopup {
    display: none;
    position: relative;
    width: 100%;
}

.timeoutMessage {
    color: green;
    font-size: 25px;
    clear: both;
    padding: 10px;
    display: block;
}

.sideSocials {
    overflow: hidden;
}

.contact {
    width: 33%;
}

/* MAP AND SEARCH CONTENT */
.map {
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

#searchContent {
    width: 100%;
    height: auto;
}

#hideButton {
    width: 100%;
    float: left;
}

aside div {
    width: 150px;
    height: 30px;
    background-color: silver;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
    line-height: 30px;
    z-index: -200;
    color: white;
}

aside hr {
    position: relative;
    bottom: 30px;
    border-top-color: silver;
    z-index: -100;
}

aside div:hover {
    background-color: orange;
    cursor: context-menu;
}

/* ITEM SEARCH HOME PAGE */
#slidecontent {
    text-align: center;
}

#searchContent {
    text-align: center;
    display: none;
}

.item {
    display: inline-table;
    position: relative;
    width: 200px;
    height: 0;
    font-size: 10px;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
}

.smooth-transform {
    transition: all 200ms;
}

.fast-transform {
    transition: all 100ms;
}

.item:hover {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
    -webkit-box-shadow: 0px 0px 21px 3px rgba(240,108,240,1);
    -moz-box-shadow: 0px 0px 21px 3px rgba(240,108,240,1);
    box-shadow: 0px 0px 21px 3px rgba(240,108,240,1);
}

.item .inside img {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.item .inside {
    text-align: left;
    padding: 0 10px 0 10px;
    overflow: hidden;
}

.item h3 {
    margin: 0;
    color: black;
    font-size: 15px;
}

.item .inside .itemImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    opacity: 0.7;
    z-index: -1;
}

.benefit img {
    width: 24px;
    height: 20px;
    padding: 0 2px 0 2px;
}

.item ul {
    background-color: rgba(230, 126, 36, 0.8);
    padding: 0;
    margin: 0;
    height: 24px;
    text-align: left;
    
}

    .item ul li {
        vertical-align: middle;
        align-items: center;
    }

.inputField {
    width: 100%;
    height: 100%;
}

.buttonSmall {
    float: right;
    width: 100px;
}

.input {
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.inputStretch {
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.buttonLink {
    width: 200px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button, .buttonFb, .buttonG, .buttonLink {
    width: 100%;
    min-height: 30px;
    margin: 5px 0 5px 0;
    padding: 10px 0 10px 0;
    border: none;
    color: white;
    background-color: rgba(230, 126, 36, 0.8);
    transition: opacity 200ms;
}

    .button:hover, .buttonLink:hover {
        background-color: rgba(230, 126, 36, 1);
    }

.buttonFb {
    background-color: rgba(64, 112, 187, 0.8);
}

    .buttonFb:hover {
        background-color: rgba(64, 112, 187, 1);
    }

.buttonG {
    background-color: rgba(255, 126, 36, 0.8);
}

    .buttonG:hover {
        background-color: rgba(255, 126, 36, 1);
    }

.mapcontrol {
    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}

.inline {
    inline-block;
}

#activities {
    min-height: 0px;
}

    #activities li {
        padding: 0px;
    }

.horizontal {
    display: inline-table;
}

.center {
    text-align: center;
}

.addIcon {
    width: 35px;
    height: 35px;
    position: relative;
    top: 13px;
}

    .addIcon:hover {
        transform: scale(1.05);
    }
